.container_image_loader_dante{
    background-image: url('../../../assets/images/dante_background_loader.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    animation: fadeInOut 6s forwards;

}
.container_image_loader_dante::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.container_image_loader_dante h1{
  font-family: "MedievalSharp", cursive;
  font-size: 2rem;
  position: absolute;
  top: -30px;
  text-align: center;
  width: 700px;
  text-align: center;
  animation: flame 2s infinite alternate;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 40px;
  background-image: url('https://media1.tenor.com/m/SLHEh1Jhbw0AAAAd/fire-slow.gif'); /* URL de tu imagen */
  background-size: contain;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container_image_loader_dante div{
  position: absolute;
  left:5%;
  top:10%;
  width: 1500px;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }

