.main-container-presentation{
    /* height: 100%; */
    width: 100%;
    /* background-image: url('../../../assets/images/abstract-geometric-background-shapes-texture.jpg'); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    background-attachment: fixed;
    object-fit: contain;
    /* padding: 40px; */
    color: white;
    font-family: "Cinzel";
}