.principal-container-presentation{
    position: relative;
    width: 100%;
    height: 100vh;
}


video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
}

.overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscuro pero con transparencia */
    z-index: 1;
    pointer-events: none; /* permite que clicks pasen al video si hiciera falta */
  }